'menu': [
  {
    'label': 'Packages'
    'submenu': [
      {
        'label': 'build'
        'submenu': [
          {
            'label': 'Build project...'
            'command': 'build:trigger'
          },
          {
            'label': 'Terminate build.'
            'command': 'build:stop'
          }
        ]
      }
    ]
  }
]

'context-menu': {}
