@import "ui-variables";

.build {
  color: @text-color-info;
  font-family: monospace;

  li {
    word-wrap: break-word;
    white-space: pre-wrap;
    list-style: none;
  }

  li.error {
    animation: none;
    -webkit-animation: none;
    color: @text-color-error;
  }

  .btn {
    position: absolute;
    bottom: 19px;
    right: 17px;
  }

}
