@import "ui-variables";

.build {
  h1.error {
    color: white;
    background-image: none;
    background-color: @background-color-error;
  }

  h1.success {
    color: white;
    background-image: none;
    background-color: @background-color-success;
  }

  h1.warning {
    color: white;
    background-image:none;
    background-color: @background-color-warning;
  }

  ol {
    transition: height 0.5s ease-in-out;
    padding: 10px 0 0 10px;
    min-height: 100px;
    overflow-y: auto;
  }

  li {
    word-wrap: break-word;
    white-space: pre-wrap;
    list-style: none;
  }

  li.error {
    animation: none;
    -webkit-animation: none;
    color: @text-color-error;
  }

  .btn-container {
    float: right;

    .btn {
      float: right;
      margin: 10px 10px 0 0;

      &:focus, &:active, &:hover {
        color: #fff;
      }
    }

    .icon::before {
      margin: 0;
    }

    .new-row {
      clear: both;
    }
  }
}
