@import "ui-variables";
@import "animations";

@top-bot-control-width: 120px;

.build {

  border-left: solid 1px @base-border-color;
  border-bottom: solid 1px @base-border-color;
  font-family: 'Menlo', 'Consolas', 'DejaVu Sans Mono', monospace;
  transition: background-color 0.2s ease-in;



  .panel-heading {
    font-size: 0.8rem;
    background-color: @panel-heading-background-color;
    padding: 5px;
    &.success {
      animation: flash-background-success linear 1.2s;
    }

    &.error {
      animation: flash-background-error linear 1.2s;
    }
  }

  .output {
    transition: 0.15s ease-in-out;
    transition-property: width, height;
    margin-right: @top-bot-control-width;

    .terminal {
      padding: 0px;
      border: solid 3px @base-border-color;
    }

    .terminal-test {
      background-color:none;
      position: absolute;
      float: left;
      visibility: hidden;
      height: auto;
      width: auto;
      white-space: nowrap;
      border:none;
    }

    .terminal-cursor {
      color: #ffffff;
      background: #f0f0f0;
    }
  }

  a {
    text-decoration: underline;
  }
}

.opaque-hover {
  transition: opacity 0.2s linear;
  opacity: 0.6;
  &:hover {
    opacity: 1.0;
  }
}

.control-container {
  -webkit-user-select: none;
  position: absolute;
  right: 0;
  bottom: 0;
  width: @top-bot-control-width;
  .btn {
    width: 32px;
    float: right;
    margin: @component-padding @component-padding 0 0;
    color: @text-color-info;
  }

  .title {
    padding: 5px;
    float: right;
    font-size: 11px;
    margin: 0 @component-padding;
    line-height: @component-line-height;
    border-radius: 5px;
  }

  .title.error {
    color: @background-color-error;
  }

  .title.success {
    color: @background-color-success;
  }

  .build-timer {
    float: right;
    margin-right: @component-padding;
  }

  .icon-gear {
    float: right;
  }

  .icon::before {
    margin: 0;
  }

  .new-row {
    clear: both;
  }
}

atom-panel.left .build,
atom-panel.right .build {
  height: 100%;
  .control-container {
    float: none !important;
    position: relative;
    display: block;
    height: 40px;
    width: 100%;
    .new-row {
      clear: none;
    }
  }
  .terminal {
    margin-right: 0;
    min-width: 250px;
  }
}

#build-status-bar {
  .status-success {
    color: @text-color-success;
  }

  .status-error {
    color: @text-color-error;
  }
}
