@import "ui-variables";

atom-panel.left .build,
atom-panel.right .build {
  width: 250px;
  display: flex;
  flex-direction: column;
  .output {
    flex-grow: 1;
  }

  .resizer {
    cursor: col-resize;
    height: 100%;
    top: 0;
  }
}

atom-panel.left .build {
  .resizer {
    right: 0;
  }
}

atom-panel.right .build {
  .resizer {
    left: 0;
  }
}
